a:link {
    text-decoration: none;
}

a {
    color: #b0687b;
}

a:hover {
    color: #881c39;
}

h1 {
    margin-bottom: 3vw;
    text-align: center;
    color: #b0687b;
    max-width: 50px;
}

h2 {
    color: #b0687b;
    text-align: left;
    margin-bottom: 2vw;
    margin-top: 3vw;
    font-size: 30px;
}

h3 {
    color: #b0687b;
    text-align: left;
    font-size: 15px;
}

.uvod .row {
    padding-bottom: 5vw;
    font-size: 120%;
}

.uvod .container-fluid img {
    padding: 0;
    margin: 0;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #b0687b;
    align-items: center;
    color: white;
}

footer a {
    color: white;
}

body {
    margin-top: 55px;
    position: relative;
}

.navbar {
    background-color: #b0687b;
}

.prispevok .row div {
    margin-top: 2vw;
    margin-bottom: 3vw;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f2e6e9;
    font-size: 120%;
}


.prispevok .profile_picture {
    border-radius: 50%;
    border-color: #b0687b;
    border-style: solid;
    max-width: 200px;
    max-height: 200px;
}

.sidebar {
    background-color: #f2e6e9;
}

.sidebar ul li {
    padding: 2vw;
    font-size: 130%;
}

.sidebar button {
    margin-bottom: 2vw;
    font-size: 130%;
}

.profile .profile_picture {
    height: 200px;
    width: 200px;
    margin-top: 15px;
    border-radius: 50%;
    margin-bottom: 15px;
    border-color: #b0687b;
    border-style: solid;
}


